<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Crime Dashboard</h1>
    
    <div class="container">
        <div class="chart-container">
            <h2>Crime Type Distribution</h2>
            {{ crime_type_chart_html|safe }}
        </div>

        <div class="chart-container">
            <h2>Last Outcome Category Distribution</h2>
            {{ outcome_category_chart_html|safe }}
        </div>
        
        <div class="chart-container">
            <h2>Relationship between Crime Type and Location</h2>
            {{ bubble_chart_html|safe }}
        </div>
        
        <!-- Feedback Button -->
        <div class="feedback-button-container">
            <a href="https://forms.office.com/e/QE9MjcYi6s" target="_blank" rel="noopener noreferrer">
                <button id="feedbackButton" class="feedback-button">Give Feedback</button>
            </a>
        </div>
    </div>

    <script src="/Users/charlottewatson/Downloads/dashboard/static/dashboard-script.js"></script>
</body>
</html>
